<div class="post-section">
  <h1 class="post-title text-center mb-2">
    A special thank you to our sponsors...
  </h1>
  <div class="post-subsection">
    <h2 class="post-title text-center pt-3">
      Gold Level
    </h2>
    <p class="pt-1">
      <em>United Methodist Church &middot; Mechanicsburg Area School District</em>
    </p>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-5 text-center">
          <img
            src="{{ 'first_umc.png' | prepend: '/assets/img/sponsors/' | relative_url | bust_file_cache }}"
            style="max-height: 200px; max-width: 100%; background: white;"
            alt="First United Methodist Church Logo" />
        </div>
        <div class="col-5 text-center">
          <img
            src="{{ 'mms.png' | prepend: '/assets/img/sponsors/' | relative_url | bust_file_cache }}"
            style="max-height: 200px; max-width: 100%; background: white;"
            alt="Mechanicsburg School District Logo" />
        </div>
      </div>
    </div>
  </div>

  <div class="post-subsection">
    <h2 class="post-title text-center pt-3">Silver Level</h2>
    <p class="pt-1">
      <em>Amerihealth Caritas Pennsylvania</em>
    </p>
    <div class="row justify-content-center align-items-center">
      <div class="col-4 text-center">
        <img
          src="{{ 'amerihealth-caritas-pennsylvania-logo.png' | prepend: '/assets/img/sponsors/' | relative_url | bust_file_cache }}"
          style="max-height: 200px; max-width: 100%; background: white;"
          alt="Amerihealth Caritas PA Logo" />
      </div>
    </div>
  </div>
  <div class="post-subsection">
    <h2 class="post-title text-center pt-3">
      Bronze Level
    </h2>
    <p class="pt-1">
      <em>
        ASERT
        <b>&middot;</b>
        Eagle FC
        <b>&middot;</b>
        Miseno Pizza
      </em>
    </p>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-3 text-center">
          <img
            src="{{ 'asert.png' | prepend: '/assets/img/sponsors/' | relative_url | bust_file_cache }}"
            style="max-height: 150px; max-width: 100%; background: white;"
            alt="ASERT Logo" />
        </div>
        <div class="col-3 text-center">
          <img
            src="{{ 'eaglefc.png' | prepend: '/assets/img/sponsors/' | relative_url | bust_file_cache }}"
            style="max-height: 150px; max-width: 100%; background: white;"
            alt="Eagle FC Logo" />
        </div>
        <div class="col-3 text-center">
          <img
            src="{{ 'miseno.png' | prepend: '/assets/img/sponsors/' | relative_url | bust_file_cache }}"
            style="max-height: 150px; max-width: 100%; background: white;"
            alt="Miseno Pizzas Logo" />
        </div>
      </div>
    </div>
  </div>
</div>