
<div class="post-section">
    <h1 class="post-title text-center mb-2">
      A special thank you to our sponsors...
    </h1>
    <div class="post-subsection">
      <h2 class="post-title text-center pt-3">
        Gold Level
      </h2>
      <p class="pt-1"><em>ASERT <b>&middot;</b> United Methodist Church</em></p>
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm">
            <img
              src="{{ 'first_umc.png' | prepend: '/assets/img/sponsors/' | relative_url | bust_file_cache }}"
              style="height: 150px; background: white;" alt="First United Methodist Church Logo" />
          </div>
          <div class="col-sm" style="text-align: center;">
            <img
              src="{{ 'mms.png' | prepend: '/assets/img/sponsors/' | relative_url | bust_file_cache }}"
              style="height: 150px; background: white;" alt="Mechanicsburg School District Logo" />
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="post-subsection">
    <h2 class="post-title text-center pt-3">
      Silver Level
    </h2>
    <p class="pt-1"><em>Sponsor 1 <b>&middot;</b> Sponsor 2 <b>&middot;</b> Additional Sponsors</em></p>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm">
          <img
            src="{{ 'Chan_Dev_Logo.png' | prepend: '/assets/img/' | relative_url | bust_file_cache }}"
            style="width:100%" alt="Logo description goes here." />
        </div>
        <div class="col-sm">
          <img
            src="{{ 'Chan_Dev_Logo.png' | prepend: '/assets/img/' | relative_url | bust_file_cache }}"
            style="width:100%" alt="Logo description goes here." />
        </div>
        <div class="col-sm">
          <img
            src="{{ 'Chan_Dev_Logo.png' | prepend: '/assets/img/' | relative_url | bust_file_cache }}"
            style="width:100%" alt="Logo description goes here." />
        </div>
      </div>
    </div>
    </div> -->

    <div class="post-subsection">
    <h2 class="post-title text-center pt-3">
      Bronze Level
    </h2>
    <p class="pt-1"><em> ASERT <b>&middot;</b> Eagle FC <b>&middot;</b> Miseno Pizza </em></p>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm" style="text-align: center;">
          <img
            src="{{ 'asert.png' | prepend: '/assets/img/sponsors/' | relative_url | bust_file_cache }}"
            style="height: 100px; background: white;" alt="ASERT Logo" />
        </div>
        <div class="col-sm" style="text-align: center;">
          <img
            src="{{ 'eaglefc.png' | prepend: '/assets/img/sponsors/' | relative_url | bust_file_cache }}"
            style="height: 150px; background: white;" alt="Eagle FC Logo" />
        </div>
        <div class="col-sm" style="text-align: center;">
          <img
            src="{{ 'miseno.png' | prepend: '/assets/img/sponsors/' | relative_url | bust_file_cache }}"
            style="height: 150px; background: white;" alt="Miseno Pizzas Logo" />
        </div>
      </div>
    </div>
  </div>
  </div>