
<script src="{{ '/assets/js/vendorsearch.js' | relative_url | bust_file_cache }}" type="module"></script>
<input type="text" id="vendorsearch" spellcheck="false" autocomplete="off" class="search vendorsearch-form-input" placeholder="Search">
{% comment %} SORT THEM {% endcomment %}
{% assign sortedPosts = include.input_posts | sort : 'title' %}
  

  {% for post in sortedPosts %}

  {% assign tags = post.tags | join: "" %}
  {% assign categories = post.categories | join: "" %}
  <div class="vendor_list">
    <div class="card mt-3 p-3">
      <div class="row">
        <div class="col-sm-12">
          <h3>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h3>
          <p>{{ post.excerpt }}</p>
          <p>
          {% if post.phone_number %}
            <i class="fa-solid fa-phone fa-sm"></i>&nbsp;<a href="tel:{{post.phone_number}}">{{post.phone_number}}</a>
          {% endif %}
          {% if post.phone_number and post.email %}
            &nbsp; &middot; &nbsp;
          {% endif %}
          {% if post.email %}
            <i class="fa-solid fa-envelope fa-sm"></i>&nbsp;<a href="mailto:{{post.email | encode_email}}">{{post.email}}</a>
          {% endif %}
          </p>
          {% if post.address %}
            <p><i class="fa-solid fa-map-marker fa-sm"></i>&nbsp;<a href="https://maps.google.com/?q={{post.address}}">{{post.address}}</a></p>
          {% endif %}
          {% if post.website %}
            <p><i class="fa-solid fa-globe fa-sm"></i>&nbsp;<a href="https://{{post.website}}">{{post.website}}</a></p>
          {% endif %}
          <p>
            {% if tags != "" %}
              {% for tag in post.tags %}
                <a href="{{ tag | slugify | prepend: '/vendors/tag/' | prepend: site.baseurl}}">
                  {% comment %} <i class="fa-solid fa-hashtag fa-sm"></i> {% endcomment %}
                  {{ tag | replace: "_", " "}}
                </a>
                {% unless forloop.last %}
                  &nbsp;
                {% endunless %}
              {% endfor %}
            {% endif %}

            {% if categories != "" %}
            &nbsp; &middot; &nbsp;
            {% for category in post.categories %}
            <a href="{{ category | slugify | prepend: '/vendors/category/' | prepend: site.baseurl}}">
              {% comment %} <i class="fa-solid fa-tag fa-sm"></i> {% endcomment %}
              {{ category | replace: "_", " " }}</a>
            {% unless forloop.last %}
            &nbsp;
            {% endunless %}
            {% endfor %}
            {% endif %}
          </p>
        </div>

        {% comment %} {% if post.thumbnail %}
        <div class="col-sm-3">
          <img class="card-img" src="{{ post.thumbnail | relative_url }}" style="object-fit: cover; height: 90%"
            alt="image">
        </div>
      {% endif %} {% endcomment %}
      </div>
    </div>

  {% endfor %}
  </div>