---
layout: default
---
{% assign year = page.date | date: '%Y' %}
{% assign tags = page.tags | join: '' %}
{% assign categories = page.categories | join: '' %}

  {% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

{% assign url_beginning = page.url | slice: 0, 6 %}

<div class="post">
  <header class="post-header">
    <p>
      <a href="/vendors">&lt;&lt; Back to vendors</a>
    </p>
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-tags">
      {% if tags != '' %}
        {% for tag in page.tags %}
          <a href="{{ tag | slugify | prepend: '/vendors/tag/' | prepend: site.baseurl}}">
            <i class="fa-solid fa-child fa-sm"></i>
            {{ tag | replace: "_", " " }}</a>
          {% unless forloop.last %}
            &nbsp; &middot; &nbsp;
          {% endunless %}
        {% endfor %}
      {% endif %}

      {% if categories != '' %}
        &nbsp; &middot; &nbsp;
        {% for category in page.categories %}
          <a href="{{ category | slugify | prepend: '/vendors/category/' | prepend: site.baseurl}}">
            <i class="fa-solid fa-tag fa-sm"></i>
            {{ category | replace: "_", " " }}
          </a>
          {% unless forloop.last %}
            &nbsp;
          {% endunless %}
        {% endfor %}
      {% endif %}
    </p>
  </header>

  <article class="post-content">
    {% if page.toc and page.toc.beginning %}
      <div id="table-of-contents">
        {% toc %}
      </div>
      <hr>
    {% endif %}
    <div id="markdown-content">
      {{ content }}
    </div>
  </article>

  {% if site.related_blog_posts.enabled %}
    {% if page.related_posts == null or page.related_posts %}
      {% include related_posts.liquid %}
    {% endif %}
  {% endif %}
</div>